.call-records {
    /* width: 632px; */
    width: 636px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* align-self: center/; */
    position: relative;

    padding: 16px;
    padding-bottom: 28px;
    margin-top: 64px;
    border-radius: 8px;

    box-sizing: border-box;

    left: 50%;
    transform: translateX(-50%);


    background-color: #202227;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
}

.call-records-header {
    color: white;
    font-weight: bold;
    font-family: var(--sans);
    font-stretch: condensed;
    font-style: italic;
    font-size: 28px;
    letter-spacing: .03em;
    line-height: 1;
    margin: 0;
    height: 32px;
    margin-bottom: 16px;
    align-self: flex-start;
}

.call-records .call-records-details {
    width: 100%;
    height: 58px;
    height: 58px;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    padding: 8px;

}

.call-records .call-records-details:first-of-type {
    height: 134px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.call-records .call-records-details.fastest-aht {
    justify-content: center;
    padding: 0;
}

.call-records .call-records-details.fastest-aht .time, 
.call-records .call-records-details.fastest-aht .details {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    padding: 4px;
    padding-top: 8px;
    position: relative;
}

.call-records .call-records-details.fastest-aht .time {
    justify-content: flex-start;
    align-items: center;

}

.call-records .call-records-details.fastest-aht .time .call-records-label {
    margin-bottom: 16px;
}

.call-records .call-records-details.fastest-aht .time .call-records-value {
    font-size: 36px;
    font-family: var(--sans);
    font-weight: 600;
    /* margin-bottom: 24px; */

}

.call-records .call-records-details.fastest-aht .time  .call-time-split {
  position: absolute;
  width: 144px;
  height: 7px;
  border-radius: 10px;
  background-color: blue;
  bottom: 28px;
}

.call-records .call-records-details.fastest-aht .details {
    justify-content: flex-start;
    align-items: flex-end; 
    padding-right: 8px;
    /* padding-top: 12px;   */
}

.call-records .call-records-details.fastest-aht .details .session-details {
    box-sizing: border-box;
    color: white;
    /* font-size: 1.0625rem; */
    font-size: 1rem;
    font-family: var(--sans);
    letter-spacing: .03em;
    line-height: 1;
    font-weight: 400;
    text-align: end;
    margin-bottom: 8px;
    
}
.call-records .call-records-details.fastest-aht .details .session-details .session-details-value {
    color: white;
    font-size: 1.0625rem;
    font-family: var(--sans);
    letter-spacing: .03em;
    line-height: 1;
    text-align: end;
    font-weight: 600;
    
}

.call-records .call-records-details:nth-of-type(odd) {
    background: #25272D;
}

.call-records .call-records-details:last-of-type {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.call-records .call-records-details .call-records-label,
.call-records .call-records-details .call-records-value {
    font-size: 1rem;
    /* font-size: 1.0625rem; */
    font-family: var(--sans);
    letter-spacing: .03em;

    color: white;
}