.dropdown-menu-container {
    width: 226px;
    height: 110.33px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    position: absolute;
    top: 76px;
    right: 8px;
    
    overflow: clip;


    /* border: 1px solid red; */
    border-radius: 10px;
    background-color: black;
    
}

.dropdown-menu {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    list-style: none;
    
    padding: 0;
    margin: 0;

}

.dropdown-menu li {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dropdown-menu li a {
    color: white;
    font-weight: 600;
    font-family: var(--sans);
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .03em;
    /* line-height: 2; */
}

.dropdown-menu li.seperator {
    height: .8px;
    width: 210px;

    background-color: #25272D;
}

.dropdown-menu li button {
    /* height: .8px; */
    width: max-content;

    background-color: transparent;
    border: none;
    /* background-color: ; */



    color: white;
    font-weight: 600;
    font-family: var(--sans);
    font-style: normal;
    font-size: 1rem;
    letter-spacing: .03em;




}
