.header {
    width: 100vw;
    height: 78px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    justify-content: flex-start;
    align-items: center;
    /* padding-left: 2.75rem; */
    background-color: black;
}

.header a {
    text-decoration: none;
    color: 'white';
    padding-left: 32px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: 40px;
}
h1.logo-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
.logo-text > span {
    font-size: 28px;
    font-style: italic;
    /* padding-top: 5px; */
    padding-left: 0px;
    font-weight: 800;
    color: white;
    text-decoration: none;
    letter-spacing: 0;
}

.logo-text > span.logo-text-styled {
    font-weight: 200;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 28px;
    letter-spacing: -1.3px;
}

