.sign-up-form {
    width: 458.533px;
    height: 322.082px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid red;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%)
}

.form-heading {
    color: white;
    font-weight: bold;
    font-family: var(--sans);
    font-stretch: condensed;
    font-style: italic;
    font-size: 48px;
    letter-spacing: .03em;
    line-height: .8;
    margin: 0;
}